# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Python Testing
# ==========================================
.pytest_cache/

# ==========================================
# Ruff
# ==========================================
.ruff_cache/

# ==========================================
# Coverage
# ==========================================
.coverage
htmlcov/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db
desktop.ini

# ==========================================
# Django
# ==========================================
staticfiles/
media/

# ==========================================
# Database
# ==========================================
*.sqlite3